{% extends 'archile/base.html' %}
{% load static %}
{% block content %}
<div style="width: 80%;margin: auto;">
	<br>
	<div  style="background-color: #ebf3f3;padding: 20px;border-radius: 10px;"> 
		<blockquote class="blockquote" style="margin: 0px;">
			<center>
			<p class="mb-0"><sup><i class="fas fa-quote-left"></i></sup> Sharing knowledge is the most fundamental act of friendship.<br> Because it is a way of giving something without loosing something. <sup><i class="fas fa-quote-right"></i></sup></p>
			</center>
			<br>
			<footer class="blockquote-footer" style="text-align: center;">Richard Stallmary <cite title="Source Title">Source Title</cite></footer>
		</blockquote>		
	</div>
	
	<br>
	<style>
		ul{list-style-type: circle;}
	</style>
	<div style="width: 50%;margin:auto;">
		<i>Archile</i> is a online platform where you can find and share valuable resources. Everything on <i>Archile</i> is as simple as ABC.<br>
		<ul>
			<li><b><i>Search</i></b> for resources by providing keywords.</li>
			<li><b><i>Like</i></b> resources which you think are relevant and useful in particular channels. If not, <b><i>Dislike</i></b> them.</li>
			<li><b><i>Report</i></b> resources you find disturbing and irrelevant.</li>
			<li><b><i>Create Channels</i></b> and <b><i>Create Posts</i></b> to share your knowledge.</li> 
			<li>Add relevant <i><b>tags</b></i> while creating channels and posts to make the resources easier to search. </li>
		</ul>
	</div>
</div>
{% endblock %}