{% extends 'archile/base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<ol class="breadcrumb breadcrumb-right-arrow" style="padding: 0px;">
	  		<li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Like Posts</li>
		</ol>
		<hr>
		<div class="col-md-12 search_results">
			{% if posts|length|add:0 == 0%}
			<div class="row">
				<div class="col-md-12" style="margin-top: 2.5rem;">
				<h4>No Liked Post</h4>
				</div>
			</div>
			{% endif %}
			{% if posts|length|add:0 != 0%}
			<div id="home" class="container tab-pane active"><br>
				<div class="row">
					<table class="table">
					<tr>
						<th>Title</th>
						<th>Likes</th>
						<th>Dislikes</th>
						<th>Reports</th>
						<th>Upload Date</th>
						<th>Upload By</th>
					</tr>
					{% for pst in posts %}
				    <tr>
				    	{%if pst.status %}
						<td><a href="{% url 'post' p_id=pst.p_id %}">{{pst.title}}</a></td>
						<td>
							{% if pst.report_status != True %}
							<a href="{% url 'actions' type_of='posts' action=1 any_id=pst.p_id %}?next=channel">
							{%endif%}
							{% if pst.ld_status == None or pst.ld_status == False %}
							<i class="far fa-thumbs-up fa-lg"></i>
							{% elif pst.ld_status == True %}
							<i style="color:#0a0;" class="far fa-thumbs-up fa-lg"></i>
							{%endif%}
							{{pst.no_of_likes}}
							{% if pst.report_status != True %}</a>{%endif%}
						</td>
						<td>
							<a href="{% url 'actions' type_of='posts' action=0 any_id=pst.p_id %}?next=channel">
								{% if pst.ld_status == None or pst.ld_status == True %}
								<i class="far fa-thumbs-down fa-lg"></i> 
								{% elif pst.ld_status == False %}
								<i style="color:#a00;" class="far fa-thumbs-down fa-lg"></i>
								{%endif%}
								{{pst.no_of_dislikes}}
							</a>
						</td>
						<td>{%if pst.report_status == False or pst.report_status == None %}<a href="{% url 'actions' type_of='posts' action=2 any_id=pst.p_id %}?next=channel"><i class="fas fa-bug fa-lg"></i>{%elif pst.report_status == True %}<a href="{% url 'actions' type_of='posts' action=3 any_id=pst.p_id %}?next=channel"><i style="color: red;" class="fas fa-bug fa-lg"></i>{%endif%} {{pst.no_of_reports}}</a></td>
						<td> {{pst.creation_datetime}}</td>
						<td>{{pst.u_id.first_name}} {{pst.u_id.last_name}}</i></td>
						{%endif%}
				    </tr>
				    {% endfor %}
					</table>
				</div>
	    	</div>
	    	{%endif%}
		</div>
	</div>
	
{% endblock %}