<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<body>
<form method="post" action="{% url 'search_box' %}">
	{% csrf_token %}

	Search Query:<input type="text" name="search_query" required><br>
	<br>
	Upload Date:<br>

	After:<input type="date" name="from"><br>
	Before:<input type="date" name="to"><br>
	<br>
	Type:<br>
	<input type="checkbox" name="channel">Channel<br>
	<input type="checkbox" name="post">Post<br>
	<input type="checkbox" name="documents">Documents<br>
	<input type="checkbox" name="videos">Videos<br>
	<input type="checkbox" name="images">Images<br>
	<input type="checkbox" name="audio">Audio<br>
	<input type="checkbox" name="archives">Archives<br>
	<br>
	Sort By:<br>
	<input type="radio" name="sort" value="uploadDate_asc">upload_date - asc<br>
	<input type="radio" name="sort" value="uploadDate_dec">upload_date - dec<br>
	<input type="radio" name="sort" value="likes_asc">likes - asc<br>
	<input type="radio" name="sort" value="likes_dec">likes - dec<br>
	<input type="radio" name="sort" value="size_asc">size - asc<br>
	<input type="radio" name="sort" value="size_dec">size - dec<br>
	<br>
	<input type="reset">
	<input type="submit">
</form>
</body>
</html>